.product-info {
  margin: 50px;
  display: flex;
  gap: 100px;
}

.product-info img {
  max-width: 400px;
}

.product-info__rating {
  display: flex;
  align-items: end;
  font-style: oblique;
}

.product-info__rating span {
  opacity: 60%;
}

.product-info__rating-review-count {
  margin-left: 20px;
}

.product-info__details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
