<div class="header">
  <div class="header__title">
    <i></i>
    <h1>Online shop</h1>
  </div>
  <div class="header__sections">
    <div class="header__section header__menu">
      <ul>
        <li>Shop</li>
        <li>Authentication</li>
        <li>
          <fa-icon [icon]="faShoppingCart"></fa-icon>
        </li>
      </ul>
    </div>
    <div class="header__section header__section--right">
      <div class="header__search">
        <input placeholder="Search...">
      </div>
      <fa-icon [icon]="faSignOutAlt"></fa-icon>
    </div>
  </div>
</div>
