.catalog__cards {
  display: flex;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 400px;
  text-align: center;
  background-color: #E9E8E8;
  position: relative;
  transition: 1s ease;
}

.card__item-link {
  text-decoration: none;
  color: black;
}

.card__content {
  margin: 21px 20px;
  position: relative;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  transition: height 1s ease;
}

.card__img {
  height: 220px;
  width: 100%;
}

.card__details {
  margin-top: auto;
  padding-top: 40px;
  padding-bottom: 5px;
  transition: padding 1s ease;
}

.card__details p {
  margin: 5px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__name {
  text-transform: uppercase;
  font-size: 12px;
}

.card__price {
  font-weight: bold;
}

.card__price--previous {
  text-decoration: line-through;
}

.card__buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  visibility: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  width: calc(100% - 35px);
}

.card__buttons button {
  cursor: pointer;
}

.card:hover .card__buttons {
  visibility: visible;
  opacity: 1;
  bottom: 15px;
  transition: 0.7s ease;
}

.card:hover .card__details {
  padding-top: 10px;
  transition: 0.5s ease;
}

.card:hover .card__content {
  height: 80%;
  transition: 0.5s ease;
}
