<section class="catalog__cards">
  <article *ngFor="let product of products" class="card" id="catalog-card-{{product.id}}">
    <a class="card__item-link" routerLink="/product/{{product.id}}">
      <div class="card__content">
        <div class="card__img">
          <img alt="{{product.title}}" src="{{product.image}}" title="{{product.title}}">
        </div>
        <div class="card__details">
          <p class="card__name">{{ product.title }}</p>
          <app-rating [rating]="product.rating.rate"/>
          <p class="card__price">{{ product.price + '$' }}</p>
        </div>
      </div>
    </a>
    <div class="card__buttons">
      <app-add-to-cart-button/>
      <button routerLink="/product/edit/{{product.id}}">
        edit
      </button>
      <button (click)="deleteProduct(product.id)">
        delete
      </button>
    </div>
  </article>
</section>
