<form [formGroup]="authForm" class="auth-form">
  <h2 class="auth-form__title">{{ isUserSignInFormText[signInKey].formTitle }}</h2>
  <label for="email">Email address</label>
  <input formControlName="email" id="email" placeholder="Email">
  <p *ngIf="email?.hasError('required') && email?.touched" class="auth-form__message--error">
    The field must be filled in!
  </p>
  <p *ngIf="email?.hasError('email') && email?.touched" class="auth-form__message--error">
    Invalid email format!
  </p>
  <label for="email">Password</label>
  <input formControlName="password" id="password" placeholder="Password" type="password">
  <p *ngIf="password?.hasError('required') && password?.touched" class="auth-form__message--error">
    The field must be filled in!
  </p>
  <p *ngIf="password?.hasError('minlength') && password?.touched" class="auth-form__message--error">
    The minimum password length is 7 characters!
  </p>
  <p *ngIf="password?.hasError('pattern') && password?.touched" class="auth-form__message--error">
    The password must consist of numbers and at least 1 capital letter!
  </p>
  <button (click)="isUserSignInFormText[signInKey].submit()" [disabled]="authForm.invalid" class="auth-form__button"
          type="submit">{{ isUserSignInFormText[signInKey].submitButtonText }}
  </button>
  <p *ngIf="loggedInFailed" class="auth-form__message--error">{{ isUserSignInFormText[signInKey].failMessage }}</p>
  <p class="auth-form__note">{{ isUserSignInFormText[signInKey].note }} Please, click
    <span (click)="toggleSignIn()" class="auth-form__link">here</span>!
  </p>
</form>
