<div class="wrapper">
  <aside>
    <form (ngSubmit)="filter()" [formGroup]="productFilterForm" class="filter">
      <div class="filter__price">
        <b>Rating</b>
        <input [ngClass]="{'filter__input--invalid' : productFilterForm.get('ratingFrom')?.invalid}"
               formControlName="ratingFrom"
               placeholder="From 0" type="number">
        <input [ngClass]="{'filter__input--invalid' : productFilterForm.get('ratingTo')?.invalid}"
               formControlName="ratingTo"
               placeholder="To 5" type="number">
        <p *ngIf="productFilterForm.get('ratingFrom')?.hasError('min')
      || productFilterForm.get('ratingTo')?.hasError('min')" class="filter__message--invalid">
          The minimum allowed value is 0!
        </p>
      </div>
      <div>
        <b>Price</b>
        <input [ngClass]="{'filter__input--invalid' : productFilterForm.get('priceFrom')?.invalid}"
               formControlName="priceFrom"
               placeholder="From" type="number">
        <input [ngClass]="{'filter__input--invalid' : productFilterForm.get('priceTo')?.invalid}"
               formControlName="priceTo"
               placeholder="To" type="number">
        <p *ngIf="productFilterForm.get('priceFrom')?.hasError('min')
      || productFilterForm.get('priceTo')?.hasError('min')" class="filter__message--invalid">
          The minimum allowed value is 0!
        </p>
      </div>
      <div class="filter__checkbox">
        <input formControlName="inStock" id="inStock" type="checkbox">
        <label for="inStock">In stock</label>
      </div>
      <div class="filter__checkbox">
        <input formControlName="hasReviews" id="reviews" type="checkbox">
        <label for="reviews">Has reviews</label>
      </div>
      <button type="submit">Find</button>
      <button (click)="resetFilter()" type="button">Clear filter</button>
    </form>
    <div class="filter__found-counter">
      <p>{{ products ? products.length : 0 }} products found</p>
    </div>
  </aside>
  <div class="badges">
    <app-badge (wasDeleted)="updateAfterFilterBadgeDelete(badge.key)" *ngFor="let badge of badges"
               [content]="badge"></app-badge>
  </div>
  <app-catalog (wasDeleted)="deleteProduct($event)" [products]="products" class="content"/>
</div>
